<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Lat-Long</h1>
<form action="https://jh.sites.tjhsst.edu/getweather" method="GET">
	<h3>Please enter valid queries:</h3>
  <div>
    <label for="lat">Latitude?</label>
    <input name="lat" id="lat">
  </div>
  <div>
    <label for="long">Longitude?</label>
    <input name="long" id="long">
  </div>
  <div>
    <button class="btn btn-success">Submit</button>
  </div>
</form>
</div>
</body>

</html>