<!DOCTYPE html>

<html>

<body>
<h1>Weather for the requested coordinates: {{lat}} , {{long}}</h1>
<h2>City: {{city}}</h2>
<ul>
{{#each facts}}
<li>{{this}}</li>
{{/each}}
</ul>
<a href="https://jh.sites.tjhsst.edu/getweather">Back</a>
</body>

</html>